<%
  form_blocks = [
    ['Team Info'],
    ['Members']
  ]
%>
<%= render 'shared/components/c_landing_header', no_nav: true %>

<div class="l-teams-edit">
  <div class="row l-teams-edit__fields">
    <div class="small-3 columns">
      <%= render 'shared/components/form/c_form_vertical_nav',
                 form_blocks: form_blocks %>
    </div>
    <div class="small-9 columns">
      <%= form_for @team do |f| %>
        <div class="row">
          <div class="small-12 columns">
            <div class="row align-right">
              <div class="small-2 columns">
                <%= link_to current_user.admin? ? teams_url : '/', class: 'l-teams-edit__form-action' do %>
                  <%= render 'shared/components/c_flying_button' %>
                <% end %>
              </div>
              <div class="small-2 columns">
                <%= f.submit 'Save', class: 'c-button' %>
              </div>
            </div>
          </div>
        </div>
        <div class="c-form" data-block-key="<%= Digest::MD5.hexdigest('Team Info') %>">
          <div class="c-item-header -color-2">
            <div class="f-ff1-xs">Team Info</div>
          </div>
          <div class="c-form-items">
            <div class="c-form-item
              <% if f.object['name'].present? %>-highlighted<% end %>
              <% if @team.errors.messages[:name].present? %>-error<% end %>
            ">
              <%= f.label :name, 'Team name', class: 'f-ff1-m' %>
              <svg class="icon icon-info" data-tooltip-text=""><use xlink:href="#icon-info"></use></svg>
              <%= f.text_field :name, class: 'c-input-text -large js-form-input' %>
            </div>
            <div class="c-form-item
              <% if f.object['name'].present? %>-highlighted<% end %>
            ">
              <%= label :model_ids, 'Associated models', class: 'f-ff1-m' %>
              <svg class="icon icon-info" data-tooltip-text=""><use xlink:href="#icon-info"></use></svg>
              <div class="c-select -extra-large">
                <%= f.collection_select :model_ids, @models, :id, :abbreviation, {}, {multiple: true, class: 'js-form-input js-multiple-select'} %>
              </div>
            </div>
          </div>
        </div>

        <% if @team.persisted? %>
          <div class="c-form l-teams-edit__form-members" data-block-key="<%= Digest::MD5.hexdigest('Members') %>">
            <div class="c-item-header -color-2">
              <div class="f-ff1-xs">Members</div>
            </div>
            <div class="c-form-items">
              <ul class="l-teams-edit__member">
                <%= f.fields_for :users do |ff| %>
                  <li class="row">
                    <div class="small-4 columns">
                      <%= ff.text_field :name, class: 'c-input-text js-form-input', placeholder: 'Name' %>
                    </div>
                    <div class="small-4 columns">
                      <%= ff.text_field :email, class: 'c-input-text js-form-input', placeholder: 'Email' %>
                    </div>
                    <div class="small-4 columns">
                      <div class="c-checkbox">
                        <%= ff.check_box :admin %>
                        <%= ff.label :admin do %>
                          <div class="c-checkbox__box">
                            <svg class="icon icon-checkbox-off"><use xlink:href="#icon-checkbox-off"></use></svg>
                            <svg class="icon icon-checkbox-on"><use xlink:href="#icon-checkbox-on"></use></svg>
                          </div>
                          <div class="f-ff1-s">Admin</div>
                        <% end %>
                      </div>
                      <%= link_to team_user_url(@team, ff.object),
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' } do %>
                        <div class="c-remove-button">
                          <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
                          <div class="f-ff1-s">Delete</div>
                        </div>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="c-form l-teams-edit__form-add-members">
        <%= form_tag(team_users_url(@team)) do %>
          <div class="c-form-items">
            <div class="c-form-item l-teams-edit__add-member row">
              <div class="small-4 columns">
                <%= text_field_tag 'user[name]',
                                   nil,
                                   placeholder: 'Enter member name ',
                                   class: 'c-input-text js-form-input' %>
              </div>
              <div class="small-4 columns">
                <%= text_field_tag 'user[email]',
                                   nil,
                                   placeholder: 'Enter member email ',
                                   class: 'c-input-text js-form-input' %>
              </div>
              <div class="small-2 columns">
                <%= submit_tag 'Add', class: 'c-button' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
