<%= render 'shared/components/c_landing_header',
  title: "#{@model.abbreviation}. #{@model.full_name}" %>
<%= form_for @model do |f| %>
  <%
    form_blocks = Hash.new
    Model.attribute_infos.each do |attribute_info|
      form_blocks[attribute_info.category] ||= Array.new
      form_blocks[attribute_info.category].push(attribute_info)
    end
  %>
  <div class="l-model-edit">
    <div class="row">
      <div class="small-12 columns">
        <div class="row align-right">
          <div class="small-2 columns">
            <%= link_to models_path, class: 'l-model-edit__form-action' do %>
              <%= render 'shared/components/c_flying_button' %>
            <% end %>
          </div>
          <div class="small-2 columns">
            <%= f.submit 'Save', class: 'c-button' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row l-model-edit__fields">
      <div class="small-3 columns">
        <%= render 'shared/components/form/c_form_vertical_nav',
          form_blocks: form_blocks %>
      </div>
      <div class="small-9 columns">
        <div class="c-form">
          <div class="c-form-items">
            <div class="c-form-item
              <% if f.object['logo'].present? %>-highlighted<% end %>
              <% if @model.errors.messages[:logo].present? %>-error<% end %>
              ">
              <%= f.label :logo, 'Maintainer Institute Logo', class: 'f-ff1-m' %>
              <div>
                <%= f.file_field :logo %>
                <%= image_tag @model.logo.url(:thumb) unless @model.logo_file_name.nil? %>
              </div>
              <span class="f-ff1-s">Accepted formats: jpg, png. File size must be below 2MB.</span>
            </div>
          </div>
        </div>
        <% form_blocks.each do |block| %>
          <%= render 'shared/components/form/c_form',
            object: @model,
            f: f,
            title: block[0],
            attributes: block[1] %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
