<%= render 'header' %>

<%= form_for @model do |f| %>
  <%= link_to 'CANCEL', models_url %>
  <%= f.submit 'SAVE' %>
  <ul>
    <% Model.attribute_symbols.each do |attribute_symbol| %>
    <li>
      <%= attribute_name(attribute_symbol) %>
      (<%= attribute_definition(attribute_symbol) %>)
      <%= attribute_input(f, attribute_symbol) %>
    </li>
    <% end %>
  </ul>
<% end %>
