<%= render 'header' %>

<%= form_for @model do |f| %>
  <%= link_to 'CANCEL', model_url(@model) %>
  <%= f.submit 'SAVE' %>
  <ul>
    <% Model.attribute_symbols.each do |attribute_symbol| %>
    <li>
      <%= attribute_name(@model, attribute_symbol) %>
      (<%= attribute_definition(@model, attribute_symbol) %>)
      <%= attribute_input(@model, f, attribute_symbol) %>
    </li>
    <% end %>
  </ul>
<% end %>
