<%= render 'shared/components/c_landing_header', no_nav: true %>
<div class="l-models">
  <div class="l-models__upload-block">
    <div class="row">
      <div class="small-12 columns">
        <%= render 'shared/components/c_upload_card',
                   form_url: upload_meta_data_models_url,
                   input_id: 'models_file',
                   structure_url: upload_template_models_url,
                   xls_structure_url: '/Meta_Model.xlsm',
                   button_text: 'Upload or update model meta information' %>
      </div>
    </div>
  </div>
  <div class="row align-right">
    <div class="small-3 columns">
      <%= link_to new_model_url, class: 'l-models__new-model' do %>
        <div class="c-hollow-button"><span>Create new model</span></div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="l-models__title f-ff3-m-bold">
        <% if current_user.admin? %>
          Manage all models in the system
        <% else %>
          Manage your team's models
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <% @models.each do |model| %>
      <div class="small-4 columns">
        <%= render 'shared/components/c_model_card',
          title: "#{model.abbreviation}. #{model.full_name}",
          description: "Last updated on #{model.updated_at.to_formatted_s(:short)}",
          button_url: model_url(model) %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= render 'shared/components/c_columns_table',
                 title: 'Team',
                 edit_url: edit_team_path(@team),
                 columns: [
                   {
                     title: 'Name',
                     data: @team.name
                   },
                   {
                     title: 'Members',
                     data: @team.members_list_for_display
                   }
                 ]
      %>
    </div>
  </div>
</div>
