<%= render 'shared/components/c_landing_header', no_nav: true %>
<div class="l-models">
  <div class="l-models__upload-block">
    <div class="row">
      <div class="small-12 columns">
        <% if policy(Model).create? %>
          <%= render 'shared/components/c_upload_card',
                structure_path: template_path(:models),
                xls_structure_path: asset_path('Meta_Model.xlsm'),
                button_text: 'Upload or update model meta information',
                service_type: 'UploadModels',
                return_path: models_path %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row align-right">
    <div class="small-3 columns">
      <% if policy(Model).new? %>
        <%= link_to new_model_path, class: 'l-models__new-model' do %>
          <div class="c-hollow-button"><span>Create new model</span></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="l-models__title f-ff3-m-bold">
        <% if current_user.admin? %>
          Manage all models in the system
        <% else %>
          Manage your team's models
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <% @models.each do |model| %>
      <div class="small-4 columns">
        <%= render 'shared/components/c_model_card',
          title: "#{model.abbreviation}. #{model.full_name}",
          description: "Last updated on #{model.updated_at.to_formatted_s(:short)}",
          button_path: model_path(model),
          model: model %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= render 'shared/components/c_columns_table',
                 title: 'Team',
                 edit_path: edit_team_path(@team),
                 columns: [
                   {
                     title: 'Name',
                     data: @team.name
                   },
                   {
                     title: 'Members',
                     data: @team.members_list_for_display
                   }
                 ]
      %>
    </div>
  </div>
</div>
