<%= render 'shared/components/c-wri-header' %>
<%= render 'shared/components/c-landing-header',
  title: "#{@model.abbreviation}. #{@model.full_name}",
  no_settings: true %>
<div class="l-model-overview">
  <div class="row">
    <div class="small-4 columns">
      <%= render 'shared/components/c-model-overview-card',
        model: @model,
        title: 'Scenarios',
        values: @scenarios
      %>
    </div>
    <div class="small-4 columns">
      <%= render 'shared/components/c-model-overview-card',
        model: @model,
        title: 'Indicators'
      %>
    </div>
    <div class="small-4 columns">
      <%= render 'shared/components/c-model-news-card',
        title: 'Latest updates'
      %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= render 'shared/components/c-4-columns-table',
        model: @model,
        title: 'Metadata'
      %>
    </div>
  </div>
</div>
