<%= render 'header' %>

<ul>
  <li>Scenarios:
    <% @scenarios.each do |scenario| %>
      <%= scenario.name %>
    <% end %>
    <%= link_to 'SEE ALL', model_scenarios_url(@model) %>
  </li>
  <li>Indicators:
    <% @indicators.each do |indicator| %>
      <%= indicator.name %>
    <% end %>
    <%= link_to 'SEE ALL', indicators_url %>
  </li>
  <li>Updates:

  </li>
</ul>

<%= link_to 'EDIT', edit_model_url(@model) %>
