<%= render 'shared/components/c_landing_header',
  title: "#{@model.abbreviation}. #{@model.full_name}",
  no_settings: true %>
<div class="l-model-overview">
  <div class="row">
    <div class="small-4 columns">
      <%= render 'shared/components/c_model_overview_card',
        title: 'Scenarios',
        values: @scenarios,
        button_url: model_scenarios_url(@model)
      %>
    </div>
    <div class="small-4 columns">
      <%= render 'shared/components/c_model_overview_card',
        title: 'Indicators',
        values: @indicators,
        button_url: model_indicators_url(@model)
      %>
    </div>
    <div class="small-4 columns">
      <%= link_to new_model_url, class: 'l-models__new-model' do %>
        <div class="c-hollow-button"><span>Create new model</span></div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= render 'shared/components/c_4_columns_table',
        model: @model,
        title: 'Metadata'
      %>
    </div>
  </div>
</div>
