<%= render 'shared/components/c-wri-header' %>
<%= render 'shared/components/c-landing-header',
  title: "#{@model.abbreviation}. #{@model.full_name}",
  no_settings: true %>

<ul>
  <li>Scenarios:
    <% @scenarios.each do |scenario| %>
      <%= scenario.name %>
    <% end %>
    <%= link_to 'SEE ALL', model_scenarios_url(@model) %>
  </li>
  <li>Indicators:

  </li>
  <li>Updates:

  </li>
</ul>

<%= link_to 'EDIT', edit_model_url(@model) %>
