<%
  title ||= nil
%>
<div class="c-form" <% if title.present? %>data-block-key="<%= Digest::MD5.hexdigest(title) %>"<% end %>>
  <% if title.present? %>
    <div class="c-item-header -color-2">
      <div class="f-ff1-xs"><%= title %></div>
    </div>
  <% end %>
  <div class="c-form-items">
    <% attributes.each do |attribute_symbol| %>
      <div class="c-form-item <% if f.object[attribute_symbol.to_s].present? || object.class.reference_attribute(attribute_symbol) %>-highlighted<% end %>">
        <label class="f-ff1-m"><%= attribute_name(object, attribute_symbol) %></label>
        <svg class="icon icon-info js-tooltip" data-tooltip-text="<%= attribute_definition(object, attribute_symbol) %>"><use xlink:href="#icon-info"></use></svg>
        <%= attribute_input(object, f, attribute_symbol) %>
      </div>
    <% end %>
  </div>
</div>
