<h1>Select what you want to manage</h1>

<h2>Teams <%= @teams.count %></h2>
<ul>
<% @teams.each do |team| %>
  <li><%= link_to team.name, '#TODO' %></li>
<% end %>
</ul>
<%= link_to 'Manage teams & users', '#TODO' %>

<h2>Models <%= @models.count %></h2>
<ul>
<% @models.each do |model| %>
  <li><%= link_to model.abbreviation, model_path(model) %></li>
<% end %>
</ul>
<%= link_to 'Manage models', models_url %>
