<div class="c-table-list-item">
  <div class="row">
    <div class="small-4 columns">
      <div class="c-table-list-item__text f-ff1-m-bold">
        <%= link_to indicator.build_alias, indicator_url(indicator) %>
      </div>
    </div>
    <div class="small-1 columns">
      <div class="c-table-list-item__text f-ff1-m"><%= indicator.unit %></div>
    </div>
    <div class="small-3 columns">
      <div class="c-table-list-item__text f-ff1-m">
        <%= indicator.definition && truncate(indicator.definition, length: 120) %>
      </div>
    </div>
    <div class="small-2 columns">
      <div class="c-table-list-item__text f-ff1-m-bold">
        <% if indicator.team? %>
          <%= indicator.model.team.try(:name) %>
        <% else %>
          System
        <% end %>
        <div>
          <%= indicator.variations.size %> variations
        </div>
      </div>
    </div>
    <div class="small-2 columns">
      <div class="c-table-list-item__actions">
        <% if current_user.can?(:destroy, indicator) %>
          <%= link_to indicator_url(indicator),
            method: :delete,
            data: {confirm: destroy_confirmation_message(indicator)} do %>
            <div class="c-remove-button">
              <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
              <div class="f-ff1-s">Delete</div>
            </div>
          <% end %>
        <% end %>
        <% if current_user.can?(:manage, indicator) %>
          <%= link_to edit_indicator_url(indicator) do %>
            <div class="c-edit-button">
              <div class="c-edit-button__bubble">
                <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
              </div>
              <div class="f-ff1-s">Edit</div>
            </div>
          <% end %>
          <% if indicator.team? %>
            <%= link_to promote_indicator_url(indicator),
              method: :put,
              data: {confirm: promote_confirmation_message(indicator)} do %>
              <div class="c-edit-button">
                <div class="c-edit-button__bubble">
                  <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
                </div>
                <div class="f-ff1-s">Promote</div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>