<ul class="c-notifications-list">
  <%
    #upload_errors = flash[:upload_errors]
    #flash.delete(:upload_errors)
  %>
  <% flash.each do |name, msg| %>
    <%
      if name == 'alert'
        notification_class = '-red'
        notification_icon = 'icon-alert'
      elsif name == 'notice'
        notification_class = '-green'
        notification_icon = 'icon-check'
      end
    %>
    <li>
      <div class="c-notification <%= notification_class %> -show-animation js-notification">
        <svg class="icon"><use xlink:href="#<%= notification_icon %>"></use></svg>
        <div class="f-ff1-s"><%= msg %></div>
      </div>
    </li>
  <% end %>
  <% flash.clear %>
</ul>
<% if @upload_errors.present? %>
  <div class="c-notifications-modal">
    <div class="c-notifications-modal__background js-notification-modal-close"></div>
    <div class="c-notifications-modal__container">
      <div class="c-notifications-modal__title">
        <svg class="icon icon-alert"><use xlink:href="#icon-alert"></use></svg>
        <div class="f-ff3-m-bold"><%= @upload_errors[:title] %></div>
        <svg class="icon icon-close js-notification-modal-close"><use xlink:href="#icon-close"></use></svg>
      </div>
      <ul class="c-notifications-modal__errors">
        <% @upload_errors[:errors].each do |error| %>
          <li class="c-notifications-modal__error">
            <div class="f-ff1-s"><span class="f-ff1-s-bold"><%= error[:loc] %></span> <%= error[:message] %></div>
            <div class="f-ff1-s c-notifications-modal__error-suggestion"><%= error[:suggestion].html_safe %></div>
          </li>
        <% end %>
        <% if @upload_errors[:warnings].present? %>
          <% @upload_errors[:warnings].each do |error| %>
            <li class="c-notifications-modal__error">
              <div class="f-ff1-s"><span class="f-ff1-s-bold"><%= error[:loc] %></span> <%= error[:message] %></div>
              <div class="f-ff1-s c-notifications-modal__error-suggestion"><%= error[:suggestion].html_safe %></div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
