<ul class="c-notifications-list">
  <%
    upload_errors = flash[:upload_errors]
    flash.delete(:upload_errors)
  %>
  <% flash.each do |name, msg| %>
    <%
      if name == 'alert'
        notification_class = '-red'
        notification_icon = 'icon-alert'
      elsif name == 'notice'
        notification_class = '-green'
        notification_icon = 'icon-check'
      end
    %>
    <li>
      <div class="c-notification <%= notification_class %> -show-animation js-notification">
        <svg class="icon"><use xlink:href="#<%= notification_icon %>"></use></svg>
        <div class="f-ff1-s"><%= msg %></div>
      </div>
    </li>
  <% end %>
  <% flash.clear %>
</ul>
<% if @upload_errors.present? %>
  <div>
    <h1><%= @upload_errors[:title] %></h1>
    <table>
    <% @upload_errors[:errors].each do |error| %>
      <tr>
        <th>
          <%= error[:loc] %>
        </th>
        <td>
          <%= error[:message] %>
          <span>
            <%= error[:suggestion].html_safe %>
          </span>
        </td>
      </tr>
    <% end %>
    </table>
    <% if @upload_errors[:warnings].present? %>
      <h2>Warnings</h2>
      <table>
      <% @upload_errors[:warnings].each do |error| %>
        <tr>
          <th>
            <%= error[:loc] %>
          </th>
          <td>
            <%= error[:message] %>
            <span>
              <%= error[:suggestion].html_safe %>
            </span>
          </td>
        </tr>
      <% end %>
      </table>
    <% end %>
  </div>
<% end %>
