<div class="l-sessions">
  <div class="row align-center">
    <div class="small-4 columns">
      <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
        <div class="row">
          <div class="small-12 columns">
            <div class="f-ff3-m-bold l-sessions__title"><%= t 'devise.invitations.edit.header' %></div>
            <%= devise_error_messages! %>
            <%= f.hidden_field :invitation_token %>
            <div class="c-form">
              <div class="c-form-items">
                <% if f.object.class.require_password_on_accepting %>
                  <div class="c-form-item">
                    <%= f.label :password, class: "f-ff1-m" %>
                    <%= f.password_field :password, autocomplete: 'off', class: 'c-input-text js-form-input' %>
                  </div>

                  <div class="c-form-item">
                    <%= f.label :password_confirmation, class: "f-ff1-m" %>
                    <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'c-input-text js-form-input' %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="small-6 columns">
              <%= f.submit t("devise.invitations.edit.submit_button"), class: 'c-button' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
