<%= form_tag(upload_time_series_model_scenarios_url(@model), method: :post, multipart: true) do %>
  <%= file_field_tag 'time_series_values_file' %>
  <%= submit_tag 'UPLOAD SCENARIO TIME SERIES' %>
<% end %>

Please follow <%= link_to 'this structure', '/esp_time_series_template.csv' %>


Scenarios (<%= @scenarios.count %>)
<table>
  <thead>
    <th>
      Scenario
    </th>
    <th>
      Last edit
    </th>
    <th>
      Meta data
    </th>
    <th>
      Time series
    </th>
    <th>
      Indicators
    </th>
    <th>
    </th>
  </thead>
  <tbody>
  <% @scenarios.each do |scenario| %>
    <tr>
      <td><%= scenario.name %></td>
      <td><%= scenario.updated_at.strftime("%b %d %Y") %></td>
      <td>TODO?</td>
      <td>TODO</td>
      <td>TODO</td>
      <td>
        <%= link_to 'DELETE', scenario_url(scenario), method: :delete %>
        <%= link_to 'EDIT', edit_scenario_url(scenario) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
