<%= render 'shared/components/c_landing_header',
  title: @model.full_name %>

<div class="l-scenarios-overview">
  <div class="l-scenarios-overview__data-block">
    <div class="row align-right">
      <div class="small-3 columns">
        <%= link_to download_time_series_model_scenario_url(@model, @scenario), class: 'l-scenarios__download' do %>
          <div class="c-hollow-button"><span>Download time series</span></div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div class="f-ff3-m-bold l-scenarios-overview__title"><%= @scenario.name %></div>
      </div>
      <div class="small-2 columns">
        <div class="f-ff1-m-bold">Upload date</div>
        <div class="f-ff1-m l-scenarios-overview__data"><%= @scenario.created_at.strftime("%b %d %Y") %></div>
      </div>
      <div class="small-2 columns">
        <div class="f-ff1-m-bold">Last edit</div>
        <div class="f-ff1-m l-scenarios-overview__data"><%= @scenario.updated_at.strftime("%b %d %Y") %></div>
      </div>
      <div class="small-2 columns">
        <div class="f-ff1-m-bold">Published</div>
        <div class="f-ff1-m l-scenarios-overview__data">TODO</div>
      </div>
      <div class="small-1 columns">
        <%= link_to edit_model_scenario_url(@model, @scenario) do %>
          <div class="c-edit-button">
            <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="l-scenarios-overview__filters">
    <div class="row">
      <div class="small-3 columns">
        <div class="f-ff3-m-bold l-scenarios-overview__filters-title">Indicators <span>(<%= @indicators.size %>)</span></div>
      </div>
      <div class="small-3 columns">
        <div class="c-form-item">
          <label class="f-ff1-m">Filter by type</label>
          <div class="c-select">
            <select></select>
          </div>
        </div>
      </div>
      <div class="small-3 columns">
        <div class="c-form-item -highlighted js-table-filter" data-filter-type="multiselect" data-filter-key="category">
          <label class="f-ff1-m">Filter by category</label>
          <div class="c-select">
            <select multiple class="js-form-input js-multiple-select" data-placeholder="Select any category">
              <% @indicator_categories.each do |category| %>
                <option value="<%= category %>"><%= category %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="small-3 columns">
        <div class="c-form-item">
          <label></label>
          <%= render 'shared/components/form/c_input_search.html',
                     placeholder: 'Filter by name',
                     js_class: 'js-table-filter',
                     data: {
                       'filter-type' => 'search',
                       'filter-key' => 'search'
                     } %>
        </div>
      </div>
      <div class="small-12 columns">
        <div class="l-scenarios-overview__table-shorts row js-table-filter" data-filter-type="order">
          <div class="small-3 columns">
            <%= render 'shared/components/c_order_filter_button',
              text: 'Indicator',
              other_class: '-no-wrap',
              column_key: 'alias' %>
          </div>
          <div class="small-2 columns">
            <%= render 'shared/components/c_order_filter_button',
              text: 'Unit',
              other_class: '-no-wrap',
              column_key: 'unit' %>
          </div>
          <div class="small-4 columns">
            <%= render 'shared/components/c_order_filter_button',
              text: 'Description',
              other_class: '-no-wrap',
              column_key: 'definition' %>
          </div>
          <div class="small-2 columns">
            <%= render 'shared/components/c_order_filter_button',
              text: 'Added by' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <% @indicators.each do |indicator| %>
      <div class="c-table-list-item">
        <div class="row">
          <div class="small-3 columns">
            <div class="c-table-list-item__text f-ff1-m-bold"><%= link_to indicator.alias, model_indicator_url(@model, indicator) %></div>
          </div>
          <div class="small-2 columns">
            <div class="c-table-list-item__text f-ff1-m"><%= indicator.unit %></div>
          </div>
          <div class="small-4 columns">
            <div class="c-table-list-item__text f-ff1-m">
              <%= indicator.definition && truncate(indicator.definition, length: 150) %>
            </div>
          </div>
          <div class="small-2 columns">
            <div class="c-table-list-item__text f-ff1-m">TODO</div>
          </div>
          <div class="small-1 columns">
            <div class="c-table-list-item__actions">
              <%= link_to model_indicator_url(@model, indicator), method: :delete, data: {confirm: destroy_confirmation_message(indicator)} do %>
                <div class="c-delete-button">
                  <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
                </div>
              <% end %>
              <%= link_to edit_model_indicator_url(@model, indicator) do %>
                <div class="c-edit-button">
                  <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
