<div class="c-table-list-item">
  <div class="row">
    <div class="small-4 columns">
      <div class="c-table-list-item__text f-ff1-m-bold">
        <%= link_to indicator.composite_name, [@model, indicator] %>
      </div>
    </div>
    <div class="small-2 columns">
      <div class="c-table-list-item__text f-ff1-m"><%= indicator.unit %></div>
    </div>
    <div class="small-3 columns">
      <div class="c-table-list-item__text f-ff1-m">
        <%= indicator.definition && truncate(indicator.definition, length: 120) %>
      </div>
    </div>
    <div class="small-1 columns">
      <div class="c-table-list-item__text f-ff1-m">
        <% if @model.present? %>
          <% indicator.notes.find { |note| note.model_id == @model.id }&.tap do |note| %>
            <%= link_to [@model, indicator], title: 'This indicator has a model specific note, click to see more' do %>
              <svg class="icon"><use xlink:href="#icon-info"></use></svg>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="small-2 columns">
      <div class="c-table-list-item__actions">
        <% if policy(indicator).destroy? %>
          <%= link_to indicator_path(indicator),
            method: :delete,
            data: {confirm: destroy_confirmation_message(indicator)} do %>
            <div class="c-remove-button">
              <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
              <div class="f-ff1-s">Delete</div>
            </div>
          <% end %>
        <% end %>
        <% if policy(indicator).edit? %>
          <%= link_to edit_indicator_path(indicator) do %>
            <div class="c-edit-button">
              <div class="c-edit-button__bubble">
                <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
              </div>
              <div class="f-ff1-s">Edit</div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
