<%= render 'shared/components/c_wri_header' %>
<%= render 'shared/components/c_landing_header',
  title: 'GCAM. Global Change Assessment Model',
  no_settings: true,
  no_nav: true %>
<div class="l-indicators">
  <div class="row align-justify">
    <div class="small-5 columns">
      <div class="f-ff3-m-bold">Indicators <span>(<%= @indicators.count %>)</span></div>
    </div>
    <div class="small-3 columns">
      <%= link_to new_indicator_url, class: 'l-indicators__new-indicator' do %>
        <div class="c-hollow-button"><span>Create new indicator</span></div>
      <% end %>
    </div>
  </div>
  <div class="l-indicators__filters">
    <div class="row">
      <div class="small-3 columns">
        <div class="c-form-item">
          <div class="f-ff1-m-bold">Filter by type</div>
          <div class="c-select">
            <%= content_tag :div, class: 'c-select' do
              select_tag 'filters[type]', types_for_select
            end %>
          </div>
        </div>
      </div>
      <div class="small-2 columns">
        <div class="c-form-item">
          <div class="f-ff1-m-bold">Filter by Category</div>
          <div class="c-select">
            <%= content_tag :div, class: 'c-select' do
              select_tag 'filters[category]', categories_for_select
            end %>
          </div>
        </div>
      </div>
      <div class="small-4 columns"></div>
      <div class="small-3 columns">
        <div class="c-form-item">
          <div class="f-ff1-m-bold"></div>
          <div class="c-input-search">
            <%= text_field_tag 'search', nil, placeholder: 'Search', class: 'c-input-text' %>
            <svg class="icon"><use xlink:href="#icon-search"></use></svg>
          </div>
        </div>
      </div>
      <div class="small-12 columns">
        <div class="l-indicators__table-shorts row js-table-filter" data-filter-type="order">
          <div class="small-2 columns">
            <%= render 'shared/components/c_order_filter_button',
              text: 'Indicator',
              other_class: '-no-wrap',
              column_key: 'name' %>
          </div>
          <div class="small-1 columns">
            <%= render 'shared/components/c_order_filter_button',
              text: 'Category',
              other_class: '-no-wrap',
              column_key: 'category' %>
          </div>
          <div class="small-1 columns">
            <%= render 'shared/components/c_order_filter_button',
              text: 'Stack family',
              column_key: 'stack_family' %>
          </div>
          <div class="small-1 columns">
            <%= render 'shared/components/c_order_filter_button',
              text: 'Unit',
              other_class: '-no-wrap',
              column_key: 'unit' %>
          </div>
          <div class="small-3 columns">
            <%= render 'shared/components/c_order_filter_button',
              text: 'Description',
              other_class: '-no-wrap',
              column_key: 'definition' %>
          </div>
          <div class="small-1 columns">
            <%= render 'shared/components/c_order_filter_button',
              text: 'Added by' %>
          </div>
          <div class="small-1 columns">
            <%= render 'shared/components/c_order_filter_button',
              text: 'Models using it' %>
          </div>
          <div class="small-1 columns">
            <%= render 'shared/components/c_order_filter_button',
              text: 'Scenarios using it' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <% @indicators.each do |indicator| %>
      <div class="c-table-list-item">
        <div class="row">
          <div class="small-2 columns">
            <div class="c-table-list-item__text f-ff1-m-bold"><%= link_to indicator.name, indicator_url(indicator) %></div>
          </div>
          <div class="small-1 columns">
            <div class="c-table-list-item__text f-ff1-s"><%= indicator.category %></div>
          </div>
          <div class="small-1 columns">
            <div class="c-table-list-item__text f-ff1-s"><%= indicator.stack_family %></div>
          </div>
          <div class="small-1 columns">
            <div class="c-table-list-item__text f-ff1-s"><%= indicator.unit %></div>
          </div>
          <div class="small-3 columns">
            <div class="c-table-list-item__text f-ff1-s">
              <%= indicator.definition.length > 90 ? truncate(indicator.definition, length: 90) : indicator.definition %>
            </div>
          </div>
          <div class="small-1 columns">
            <div class="c-table-list-item__text f-ff1-s">TODO</div>
          </div>
          <div class="small-1 columns">
            <div class="c-table-list-item__text f-ff1-s"><%= indicator.models.count %></div>
          </div>
          <div class="small-1 columns">
            <div class="c-table-list-item__text f-ff1-s"><%= indicator.scenarios.count %></div>
          </div>
          <div class="small-1 columns">
            <div class="c-table-list-item__actions">
              <%= link_to indicator_url(indicator), method: :delete, data: {confirm: destroy_confirmation_message(indicator)} do %>
                <div class="c-delete-button">
                  <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
                </div>
              <% end %>
              <%= link_to edit_indicator_url(indicator) do %>
                <div class="c-edit-button">
                  <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
