<%= render 'shared/components/c_wri_header' %>
<%= render 'shared/components/c_landing_header',
  title: 'GCAM. Global Change Assessment Model',
  no_settings: true %>
<div class="l-indicators">
  <div class="row align-justify">
    <div class="small-5 columns">
      <div class="f-ff3-m-bold">Indicators <span>(<%= @indicators.count %>)</span></div>
    </div>
    <div class="small-3 columns">
      <%= link_to new_indicator_url, class: 'l-indicators__new-indicator' do %>
        <div class="c-hollow-button"><span>Create new indicator</span></div>
      <% end %>
    </div>
  </div>
  <div class="l-indicators__filters row">
    <div class="small-3 columns">
      <div class="c-form-item">
        <div class="f-ff1-m-bold">Filter by type</div>
        <div class="c-select">
          <%= content_tag :div, class: 'c-select' do
            select_tag 'filters[type]', types_for_select
          end %>
        </div>
      </div>
    </div>
    <div class="small-2 columns">
      <div class="c-form-item">
        <div class="f-ff1-m-bold">Filter by Category</div>
        <div class="c-select">
          <%= content_tag :div, class: 'c-select' do
            select_tag 'filters[category]', categories_for_select
          end %>
        </div>
      </div>
    </div>
    <div class="small-4 columns"></div>
    <div class="small-3 columns">
      <div class="c-form-item">
        <div class="f-ff1-m-bold"></div>
        <div class="c-input-search">
          <%= text_field_tag 'search', nil, placeholder: 'Search', class: 'c-input-text' %>
          <svg class="icon"><use xlink:href="#icon-search"></use></svg>
        </div>
      </div>
    </div>
    <div class="small-12 columns">
      <div class="row">
        <div class="small-2 columns">
          <div class="c-order-filter-button">
            <div class="f-ff1-m-bold">Indicator</div>
            <svg class="icon"><use xlink:href="#icon-short"></use></svg>
          </div>
        </div>
        <div class="small-1 columns">
          <div class="c-order-filter-button">
            <div class="f-ff1-m-bold">Category</div>
            <svg class="icon"><use xlink:href="#icon-short"></use></svg>
          </div>
        </div>
        <div class="small-1 columns">
          <div class="c-order-filter-button">
            <div class="f-ff1-m-bold">Stack family</div>
            <svg class="icon"><use xlink:href="#icon-short"></use></svg>
          </div>
        </div>
        <div class="small-1 columns">
          <div class="c-order-filter-button">
            <div class="f-ff1-m-bold">Unit</div>
            <svg class="icon"><use xlink:href="#icon-short"></use></svg>
          </div>
        </div>
        <div class="small-3 columns">
          <div class="c-order-filter-button">
            <div class="f-ff1-m-bold">Description</div>
            <svg class="icon"><use xlink:href="#icon-short"></use></svg>
          </div>
        </div>
        <div class="small-1 columns">
          <div class="c-order-filter-button">
            <div class="f-ff1-m-bold">Added by</div>
            <svg class="icon"><use xlink:href="#icon-short"></use></svg>
          </div>
        </div>
        <div class="small-1 columns">
          <div class="c-order-filter-button">
            <div class="f-ff1-m-bold">Models using it</div>
            <svg class="icon"><use xlink:href="#icon-short"></use></svg>
          </div>
        </div>
        <div class="small-1 columns">
          <div class="c-order-filter-button">
            <div class="f-ff1-m-bold">Scenarios using it</div>
            <svg class="icon"><use xlink:href="#icon-short"></use></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <% @indicators.each do |indicator| %>
      <div class="c-table-list-item">
        <div class="row">
          <div class="small-2 columns">
            <div class="c-table-list-item__text f-ff1-m-bold"><%= link_to indicator.name, indicator_url(indicator) %></div>
          </div>
          <div class="small-1 columns">
            <div class="c-table-list-item__text f-ff1-m"><%= indicator.category %></div>
          </div>
          <div class="small-1 columns">
            <div class="c-table-list-item__text f-ff1-m"><%= indicator.stack_family %></div>
          </div>
          <div class="small-1 columns">
            <div class="c-table-list-item__text f-ff1-m"><%= indicator.unit %></div>
          </div>
          <div class="small-3 columns">
            <div class="c-table-list-item__text f-ff1-m"><%= indicator.definition %></div>
          </div>
          <div class="small-1 columns">
            <div class="c-table-list-item__text f-ff1-m">TODO</div>
          </div>
          <div class="small-1 columns">
            <div class="c-table-list-item__text f-ff1-m">TODO</div>
          </div>
          <div class="small-1 columns">
            <div class="c-table-list-item__text f-ff1-m">TODO</div>
          </div>
          <div class="small-1 columns">
            <div class="c-table-list-item__actions">
              <%= link_to indicator_url(indicator), method: :delete do %>
                <div class="c-delete-button">
                  <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
                </div>
              <% end %>
              <%= link_to edit_indicator_url(indicator) do %>
                <div class="c-edit-button">
                  <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
