<%= render 'shared/components/c_wri_header' %>
<%= render 'shared/components/c_landing_header',
  title: 'GCAM. Global Change Assessment Model',
  no_settings: true,
  no_nav: true %>
<div class="l-indicators-overview">
  <div class="l-indicators-overview__data-block">
    <div class="row">
      <div class="small-12 columns">
        <div class="f-ff1-m-bold">Indicator</div>
      </div>
      <div class="small-12 columns">
        <div class="l-indicators-overview__title f-ff2-m"><%= @indicator.name %></div>
      </div>
      <div class="small-2 columns">
        <div class="f-ff1-m-bold">Category</div>
        <div class="f-ff1-m l-indicators-overview__data"><%= @indicator.category %></div>
      </div>
      <div class="small-2 columns">
        <div class="f-ff1-m-bold">Unit</div>
        <div class="f-ff1-m l-indicators-overview__data"><%= @indicator.unit %></div>
      </div>
      <div class="small-2 columns">
        <div class="f-ff1-m-bold">Added by</div>
        <div class="f-ff1-m l-indicators-overview__data"><%= @indicator.unit %></div>
      </div>
      <div class="small-5 columns">
        <div class="f-ff1-m-bold">Description</div>
        <div class="f-ff1-m l-indicators-overview__data"><%= @indicator.definition %></div>
      </div>
      <div class="small-1 columns">
        <%= link_to edit_indicator_url(@indicator) do %>
          <div class="c-edit-button">
            <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="l-indicators-overview__relations">
    <%
      #TODO: all models for now
      #TODO: all scenarios for now
    %>
    <div class="row">
      <div class="small-4 columns">
        <div class="f-ff1-m-bold">Models using this indicator</div>
        <ul class="l-indicators-overview__relation-list">
          <% @indicator.models.each do |model| %>
            <li class="f-ff1-m">
              <%= model.full_name %>
              <%= link_to edit_model_url(model) do %>
                <svg class="icon"><use xlink:href="#icon-link"></use></svg>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="small-4 columns">
        <div class="f-ff1-m-bold">Scenarios using this indicator</div>
        <ul class="l-indicators-overview__relation-list">
          <% @indicator.scenarios.each do |scenario| %>
            <li class="f-ff1-m">
              <%= scenario.name %>
              <%= link_to 'EDIT TODO link' do %>
                <svg class="icon"><use xlink:href="#icon-link"></use></svg>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
