<% if @model %>
  <%= render 'shared/components/c_landing_header', title: @model.full_name %>
<% else %>
  <%= render 'shared/components/c_landing_header', no_nav: true%>
<% end %>
<div class="l-indicators-overview">
  <div class="l-indicators-overview__data-block">
    <div class="row align-right">
      <div class="small-3 columns">
        <%= link_to [@model, @indicator, :time_series_values], class: 'l-indicators__download' do %>
          <div class="c-hollow-button"><span>Download time series</span></div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div class="l-indicators-overview__title f-ff3-m-bold"><%= @indicator.composite_name %></div>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <div class="f-ff1-m-bold">Category</div>
        <div class="f-ff1-m l-indicators-overview__data"><%= @indicator.category.name %></div>
      </div>
      <div class="small-2 columns">
        <div class="f-ff1-m-bold">Subcategory</div>
        <div class="f-ff1-m l-indicators-overview__data"><%= @indicator.subcategory&.name %></div>
      </div>
      <div class="small-1 columns">
        <div class="f-ff1-m-bold">ESP Unit</div>
        <div class="f-ff1-m l-indicators-overview__data"><%= @indicator.unit %></div>
      </div>
      <div class="small-4 columns">
        <div class="f-ff1-m-bold">Description</div>
        <div class="f-ff1-m l-indicators-overview__data"><%= @indicator.definition %></div>
      </div>
      <div class="small-2 columns">
        <% if policy(@indicator).edit? %>
          <%= link_to edit_indicator_path(@indicator) do %>
            <div class="c-edit-button">
              <div class="c-edit-button__bubble">
                <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
              </div>
              <div class="f-ff1-s">Edit metadata</div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="l-indicators-overview__table-title f-ff3-m-bold">Time Series <span>(<%= @time_series_values_pivot[:data].length %>)</span></div>
    </div>
  </div>
  <%= render 'shared/components/c_table',
             indicators: @time_series_values_pivot[:years],
             rows: @time_series_values_pivot[:data],
             type: 'time_series' %>
</div>
