<%= render 'shared/components/c_landing_header',
  title: @model.full_name %>
<div class="l-indicators-overview">
  <div class="l-indicators-overview__data-block">
    <div class="row align-right">
      <div class="small-3 columns">
        <%= link_to download_time_series_model_indicator_url(@model, @indicator), class: 'l-indicators__download' do %>
          <div class="c-hollow-button"><span>Download time series</span></div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="columns">
        <div class="l-indicators__title f-ff3-m-bold"><%= @indicator.alias %></div>
      </div>
      <div class="small-2 columns">
        <%= link_to edit_model_indicator_url(@model, @indicator) do %>
          <div class="c-edit-button">
            <div class="c-edit-button__bubble">
              <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
            </div>
            <div class="f-ff1-s">Edit</div>
          </div>
          Edit metadata
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-9 columns">
      <div class="l-indicators__title f-ff3-m-bold">Time Series <span>(<%= @time_series_values_pivot[:data].length %>)</span></div>
    </div>
    <div class="small-3 columns">
      <div class="c-form-item">
        <label class="f-ff1-m-bold"></label>
        <div class="c-input-search">
          <%= text_field_tag 'search',
                             nil,
                             placeholder: 'Search',
                             class: 'c-input-text js-table-filter',
                             data: {
                               'filter-type' => 'search',
                               'filter-key' => 'search'
                             } %>
          <svg class="icon"><use xlink:href="#icon-search"></use></svg>
        </div>
      </div>
    </div>
  </div>
  <table>
    <thead>
      <th>Scenario</th>
      <th>Country</th>
      <% @time_series_values_pivot[:years].each do |year| %>
        <th>
          <%= year %>
        </th>
      <% end %>
    </thead>
    <tbody>
      <% @time_series_values_pivot[:data].each do |row| %>
        <tr>
          <td><%= row[:scenario_name] %></td>
          <td><%= row[:location_name] %></td>
          <% row[:values].each do |value| %>
            <td><%= value %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
