<%
  title ||= ''
%>
<div class="c-4-columns-table">
  <div class="c-item-header -color-2">
    <div class="f-ff1-xs"><%= title %></div>
    <div class="c-item-header__actions">
      <%= link_to edit_model_url(model) do %>
        <svg class="icon icon-edit"><use xlink:href="#icon-edit"></use></svg>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <ul class="c-4-columns-table__list f-ff1-m">
        <li class="f-ff1-m-bold">Maintainer</li>
        <%= @model.maintainer_name %>
      </ul>
    </div>
    <div class="small-3 columns">
      <ul class="c-4-columns-table__list f-ff1-m">
        <li class="f-ff1-m-bold">Regional scope</li>
        <%= @model.geographic_coverage %>
      </ul>
    </div>
    <div class="small-3 columns">
      <ul class="c-4-columns-table__list f-ff1-m">
        <li class="f-ff1-m-bold">Sector focus</li>
        <%= @model.sectoral_coverage.join(', ') %>
      </ul>
    </div>
    <div class="small-3 columns">
      <ul class="c-4-columns-table__list f-ff1-m">
        <li class="f-ff1-m-bold">Time horizon</li>
        <%= @model.time_horizon %>
      </ul>
    </div>
  </div>
</div>
