<%
  title ||= ''
  edit_path ||= nil
  destroy_path ||= nil
  grid_class = "small-#{(12 / columns.count).floor}"
%>
<div class="c-columns-table">
  <div class="c-item-header -color-2">
    <div class="f-ff1-xs"><%= title %></div>
    <div class="c-item-header__actions">
      <% if edit_path.present? %>
        <%= link_to edit_path do %>
          <svg class="icon icon-edit"><use xlink:href="#icon-edit"></use></svg>
        <% end %>
      <% end %>
      <% if destroy_path.present? %>
        <%= link_to destroy_path, method: :delete, data: {confirm: destroy_message} do %>
          <div class="c-remove-button">
            <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% columns.each do |item| %>
      <div class="<%= grid_class %> columns">
        <ul class="c-columns-table__list f-ff1-m">
          <li class="f-ff1-m-bold"><%= item[:title] %></li>
          <%= item[:data] %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
