<% locations_reference ||= nil %>
<% xls_structure_path ||= nil %>
<% sample_path ||= nil %>
<% service_type ||= nil %>
<% return_path ||= nil %>
<div class="c-upload-card">
  <%= form_for CsvUpload.new, multipart: true, url: csv_uploads_path(return_path: return_path) do |form| %>
    <%= form.hidden_field :service_type, value: service_type %>
    <%= form.hidden_field :model_id, value: @model.try(:id) %>
    <%= form.file_field :data, class: 'js-upload-card' %>
  <% end %>
  <div class="c-button"><span><%= button_text %></span></div>
  <div class="f-ff1-s">
    Please follow <%= link_to 'this structure', structure_path %>
      <% if xls_structure_path %>
        or use this <%= link_to 'macro-enabled worksheet', xls_structure_path %> (save as .csv)
      <% end %>
      <% if sample_path %>
        or use the <%= link_to 'list of system indicators', sample_path %> as base
      <% end %>
      <% if locations_reference %>
        and the <%= link_to 'list of countries and regions', locations_path %>
      <% end %>
  </div>
</div>
