<!DOCTYPE html>
<html>
  <head>
    <title>Pathways Portal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/icons' %>
    <%= render 'shared/components/c_landing_header', no_nav: true %>
    <%= yield %>
  </body>
</html>
